<div class=signout li><a href="/signout/">Sign Out</a></li></div>
<h1> All Available Jobs </h1>
<h2>Job List: </h2>
<%= button_to "Create A Job", new_job_path, :method => "get" %>


<% @jobs.each do |j| %>
<div class="job-card">
 <div>Job Name: <%= j.description %></div>
 <div>Destination: <%= j.destination%></div>
 <div>Cost: <%= j.cost %></div>
 <div>Containers Needed: <%= j.containers%></div><br>
 <a href="/jobs/<%=j.id%>/edit"><b>Edit Job</b></a>
 <b><%= link_to "Delete Job", job_path(j.id), method: :delete, data: {confirm: "Delete Job Listing?"}%></b>
</div>
<% end %>