<h1> Schedules </h1>

<%= button_to "Add a Schedule", new_schedule_path, :method => "get" %>


<% @schedules.each do |s| %>
<div class="schedule-card">
 <div>Boat: <%= s.boat_id %></div>
 <div>Job: <%= s.job_id%></div>
 <div>Start Time: <%= s.start %></div>
 <div>Finish Time: <%= s.finish%></div><br>
 <a href="/schedules/<%=s.id%>/edit"><b>Edit Schedule</b></a>
 <b><%= link_to "Delete Scheduled Time", schedule_path(s.id), method: :delete, data: {confirm: "Delete Job Listing?"}%></b>
</div>
<% end %>