<div class=signout li><a href="/signout/">Sign Out</a></li></div>
<h1>All Available Boats</h1>
<h2>Boat List: </h2>
<%= button_to "Create A Boat", new_boat_path, :method => "get" %>

<% @boats.each do |b| %>
<div class="job-card">
 <div>Boat Name: <%= b.name %></div>
 <div>Location: <%= b.location%></div><br>
 <% if b.image.attached? %>
  <div><%= image_tag url_for(b.image) %></div>
 <% end %>




  <a href="/boats/<%=b.id%>/edit"><b>Edit Boat</b></a><br>
  <b><%= link_to "Delete Boat", boat_path(b.id), method: :delete, data: {confirm: "Delete Boat?"}%></b>
</div>
<% end %>
