<!DOCTYPE html>
<html>
  <head>
    <title>ShipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="navbar">
        <ul class="navbuttons">
          <li><a href="/signout/">Sign Out</a></li>
          <li><%= link_to 'Edit User', edit_user_registration_path %></li>
          <li><%=link_to 'Job List', jobs_path %></li>
          <li><%= link_to 'Boats List', boats_path %></li>
          <li><%= link_to 'Schedules', schedules_path %></li>
        </ul>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
